.name {
  padding-top: 30px;
  padding-left: 70px;
  font-size: 24px;
}
.icon {
  font-size: 300px;
}
.container {
  text-align: center;
}
.contentWrap {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}
.editButton {
  float: right;
  position: relative;
  bottom: -35vh;
  padding: 10px 11px 10px 11px;
  text-align: center;
  margin-left: auto;
  line-height: 20px;
  border-radius: 50%;
}
