.contentWrapper {
  display: flex;
  flex-direction: column;
}
.contentWrapper:nth-child(1) {
  flex-grow: 2;
}
.contentWrapper:nth-child(2) {
  flex-grow: 1;
}

.editButton {
  float: right;
  padding: 10px 11px 10px 11px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.button {
  position: relative;
  bottom: -70%;
}
